body {
  background-color: #fff;
  overflow: hidden;
  overflow: auto;
  display: table;
  margin: 0;
  width: 100%;
  height: 100%;
}
canvas 
{ 
    border:0;
    display:block;
    margin:0 auto;
    display: block;
}